@media (max-width: 400px) {
  
  header,
  section,
  footer {
    margin-bottom: 0px !important;
  }

  header {
    margin-bottom: 0px !important;
  }

  footer {
    margin-bottom: 0 !important;
  }
  
  /* HEADER */
  .header__nav__list,
  .header__actions {
    display: none;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    width: 30px;
    height: 24px;
    left: 336px;
    top: 31px;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .header__burger span {
    display: block;
    width: 30px;
    height: 4px;
    background: #FF553E;
    border-radius: 4px;
    position: absolute;
    left: 0;
  }

  .header__burger span:nth-child(1) { top: 0; }
  .header__burger span:nth-child(2) { top: 10px; }
  .header__burger span:nth-child(3) { top: 20px; }

    /* HERO */
  .hero__alarm,
  .hero__clipboard {
    display: none;
  }

  .hero__container {
    justify-content: center;
  }

  .hero__title {
    font-size: 32px;
    line-height: 44px;
  }

  .hero__text {
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
  }

  .hero__button {
    font-size: 16px;
    padding: 12px 32px;
  }

  /* FUNFACT */
  .funfact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 40px;
  }

  .funfact__item:not(:last-child)::after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background: #404040;
    margin: 20px auto 0;
  }

  .funfact__item {
    width: 100%;
    text-align: center;
  }

  /* FEATURES */
  .features__header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .features__image {
    display: none;
  }

  .features__title {
    font-size: 36px;
    line-height: 52px;
  }

  .features__description {
    line-height: 30px;
    text-align: justify;
  }

  .features__cards {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .feature-card {
    max-width: 100%;
    width: 100%;
  }

  /* ANALYTICS */
  .analytics {
    display: none;
  }

  /* CTA */
  .cta {
    padding: 24px 12px;
    justify-content: center;
  }

  .cta__container {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
  }

  .cta__image--top-left {
    display: none;
  }

  .cta__image--right {
    position: absolute;
    width: 100px;
    height: auto;
    top: 100px;
    z-index: 0;
  }

  .cta__content {
    position: relative;
    left: 0;
    gap: 12px;
    width: 100%;
  }

  .cta__title {
    font-size: 22px;
    line-height: 28px;
  }

  .cta__text {
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
  }

  .cta__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    position: relative;
  }

  .cta__btn {
    width: 90%;
    max-width: 180px;
    padding: 10px 16px;
    font-size: 12px;
    min-width: auto;
  }

  .cta__btn-text span {
    font-size: 9px;
  }

  .cta__btn-text strong {
    font-size: 12px;
  }

  /* FOOTER */
  .footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start; 
  }

  .footer__socials {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin: 8px 0;
  }

  .footer__menu {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 12px 0;
    align-items: flex-start; 
  }
  
  .footer__line {
    display: none;
  }

  .footer__terms {
    flex-direction: column;
    align-items: center;
    gap: 6px;
    text-align: center;
    align-items: flex-start; 
  }

  .footer__terms span {
    margin-left: 0;
  }
}
